DEBUG=False
YEOBOSEYO_HOST=127.0.0.1
YEOBOSEYO_PORT=8000
DATABASE_URL=sqlite:///db.sqlite3
TIME_ZONE=Asia/Seoul
FORMAT_FROM=markdown_github
FORMAT_TO=html
BYPASS_BOZO=False
LOG_LEVEL=logging.INFO
MASTODON_USERNAME=
MASTODON_PASSWORD=
MASTODON_INSTANCE=https://mastodon.social
MASTODON_VISIBILITY=unlisted  # default is 'public', can be 'unlisted', 'private', 'direct
MY_NOTES_FOLDER=<set the path to the note folder>
TEMPLATE_STYLE=blue-light
TELEGRAM_TOKEN=0123456789:AZERTYUIOPQSDFGHJKLMWXCVBN123456789
TELEGRAM_CHAT_ID=-NNNNNNNNN
WALLABAG_URL=http://wallabag/
# access to the url http://you wallabag instance/developer to get ID and http://your wallabag instance/developer/howto/first-app to generate your access token
WALLABAG_CLIENTID=your clientid
WALLABAG_CLIENTSECRET=your client secret
WALLABAG_PASSWORD=your pass
WALLABAG_USERNAME=your login
