DATABASE_URL=sqlite:///db.sqlite3
TIME_ZONE=Europe/Paris
FORMAT_FROM=markdown_github
FORMAT_TO=html
BYPASS_BOZO=False
LOG_LEVEL=logging.INFO
MASTODON_USERNAME=
MASTODON_PASSWORD=
MASTODON_INSTANCE=https://mastodon.social
MASTODON_VISIBILITY=unlisted  # default is 'public', can be 'unlisted', 'private', 'direct
MY_NOTES_FOLDER=<set the path to the note folder>
STYLE=blue-light
TOKEN=''
TELEGRAM_TOKEN=0123456789:AZERTYUIOPQSDFGHJKLMWXCVBN123456789
TELEGRAM_CHAT_ID=-NNNNNNNNN
