DATABASE_URL=sqlite:///db.sqlite3
TIME_ZONE=Europe/Paris
FORMAT_FROM=markdown_github
FORMAT_TO=html
BYPASS_BOZO=False
LOG_LEVEL=logging.INFO
MY_NOTES_FOLDER=<set the path to the note folder>
STYLE=blue-light
