<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yeoboseyo</title>
    <link href="/static/fontawesome/css/all.css" rel="stylesheet">
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />
    <meta name="author" content="FoxMaSk">
    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
    <script src="//unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body role="document">
  <!-- main node of the application-->
  <div id="app">
    <b-container fluid>
    </b-container>
    <hr/>
    <footer class="footer">
        <div class="container">
            <p>2019 <a href="https://gitlab.com/annyong/yeoboseyo">Yeoboseyo</a></p>
        </div>
    </footer>
  </div>


<script>
var app = new Vue({
  el: '#app',
  data() {
    return {
      delimiters: ["{?","?}"],
      // DATA
      triggers: [],
      // FORM
      show: false,
      formData: {
        triggerId: 0,
        errors: '',
        description: '',
        rss_url: '',
        localstorage: '',
        tags: '',
        status: true
      },
      // LIST
      search: '',
      fields: [
        { key: 'description', sortable: true },
        { key: 'rss_url', sortable: false },
        { key: 'localstorage', sortable: true },
        { key: 'tags', sortable: false },
        { key: 'date_triggered', sortable: true },
        { key: 'status', sortable: true },
        { key: 'actions', label: 'Actions' }
      ],
      filter: null,
      selected: '',
      selectMode: 'single',
      errors: ''
    }
  },

  methods: {
    // THE FORM
    newForm() {
        this.resetForm();
        if (!this.show) {
          this.showForm();
        }
    },
    showForm() {
      return this.show = !this.show
    },
    submitForm () {
      if (this.formData.localstorage =='') {
        alert('Local storage is mandatory');
      }
      else {
        const payload = {
          rss_url: this.formData.rss_url,
          description: this.formData.description,
          localstorage: this.formData.localstorage,
          tags: this.formData.tags,
          status: this.formData.status
        }
        if (this.formData.triggerId == 0) {
          axios.post('/api/yeoboseyo/', payload)
          .then((res) => {
            if (res.status === 200) {
              this.getData()
              this.resetForm()
              this.showForm()
            }
            else {
              this.formData.errors = res.data['errors']
            }
          })
          .catch(error => { error.statusText })
        }
        else {
          axios.patch('/api/yeoboseyo/' + this.formData.triggerId, payload)
          .then((res) => {
            if (res.status === 200) {
              this.getData()
              this.resetForm()
              this.showForm()
            }
            else {
              this.formData.errors = res.data['errors']
            }
          })
          .catch(error => { error.statusText })
        }
      }
    },
    editTrigger (triggerId) {
      axios
        .get('/api/yeoboseyo/' + triggerId)
        .then(response => {
          this.formData.triggerId = triggerId
          this.formData.description = response.data['description']
          this.formData.rss_url = response.data['rss_url']
          this.formData.localstorage = response.data['localstorage']
          this.formData.tags = response.data['tags']
          this.formData.status = response.data['status']
          if (!this.show) {
            this.showForm()
          }
        })
    },
    resetForm () {
      // reset everything
      this.formData.triggerId = 0
      this.formData.description = ''
      this.formData.rss_url = ''
      this.formData.localstorage = ''
      this.formData.tags = ''
      this.status = true
    },
    getData() {
      axios
       .get('/api/yeoboseyo/')
       .then(response => {this.triggers = response.data})
    },
    switchStatus (triggerId) {
      axios.patch('/api/yeoboseyo/switch/status/' + triggerId)
        .then((res) => {
          if (res.status === 200) {
            this.getData()
          }
          else {
            this.errors = res.data['errors']
          }
        })
        .catch(error => { error.statusText })
    },

    deleteTrigger (triggerId) {
      axios.delete('/api/yeoboseyo/' + triggerId)
        .then((res) => {
          if (res.status === 200) {
            this.getData()
          }
          else {
            this.errors = res.data['errors']
          }
        })
        .catch(error => { error.statusText })
    }
  },
  computed: {
    searchTrigger (){
      let result = this.triggers
      if (!this.search) {
        return result
      }
      const search = this.search.toLowerCase()
      return result.filter(search)
    }
  },
  mounted () {
    axios
    .get('/api/yeoboseyo/')
    .then(response => {this.triggers = response.data})
  },

  template: `
  <div>
    <!-- 'Yeoboseyo' NAVBAR -->
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#">Yeoboseyo</b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-button size="sm" class="ml-sm-2" v-on:click="newForm">New feed</b-button>
          </b-nav-form>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <!-- End of 'Yeoboseyo' NAVBAR -->
    <!-- 'Yeoboseyo' FORM -->
    <b-col cols="12">
    <b-row>
    <b-col cols="2"> </b-col>
    <b-col cols="8">
    <div v-if="errors" class="alert alert-danger">{? errors ?}</div>
    <form v-if="show" ref="form" class="mt-4" @submit.stop.prevent="submitForm">
        <label>Set a description for this 'Yeoboseyo'</label>
        <b-form-input
          ref="desc"
          class="mb-4"
          v-model="formData.description"
          required
        ></b-form-input>
        <h2><i class="fa fa-globe"></i> Origin of the data</h2>
        <b-form-group
            description="Put the URL from which you want to get the data to spread eg http://somethinglookslikethat.org/feeds.xml">
            <b-input-group size="sm" class="mb-2">
              <b-input-group-prepend is-text>
                <b-icon icon="globe"></b-icon>
              </b-input-group-prepend>
              <b-form-input
                  v-model="formData.rss_url"
                  required
              ></b-form-input>
            </b-input-group>
        </b-form-group>
        <h2><i class="fa fa-folder"></i> Destinations of the data</h2>
        <b-form-group
            description="Put the name of the folder (inside {{ MY_NOTES_FOLDER }}) that will store the generated Markdown files coming from the RSS Feeds">
            <b-input-group size="sm" class="mb-2">
              <b-input-group-prepend is-text>
                <b-icon icon="folder"></b-icon>
              </b-input-group-prepend>
              <b-form-input
                  v-model="formData.localstorage"
              ></b-form-input>
            </b-input-group>
        </b-form-group>
        </fieldset>
        <h2><i class="fa fa-tag"></i> Tags</h2>
        <b-form-group description="set some tags separeted by a space">
            <b-input-group size="sm" class="mb-2">
              <b-input-group-prepend is-text>
                <b-icon icon="tag"></b-icon>
              </b-input-group-prepend>
              <b-form-input
                  v-model="formData.tags"
              ></b-form-input>
            </b-input-group>
        </b-form-group>
        </fieldset>

        <b-form-checkbox v-model="formData.status" name="status">Status</b-form-checkbox>
        <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i> Submit</button>
        <button type="cancel" class="btn btn-danger"><i class="fas fa-window-close"></i> Close</button>
    </form>
  </b-col>
  <b-col cols="2"> </b-col>
  </b-row>
  <b-row>
  <!-- End of 'Yeoboseyo' FORM -->
  <!-- 'Yeoboseyo' TABLE  -->
  <b-col cols="6">
    <b-input-group class="mr-2 ml-2 mt-4 mb-4" size="sm">
      <!-- search field -->
      <b-input-group-prepend is-text><b-icon icon="search"></b-icon></b-input-group-prepend>
      <b-form-input v-model="filter" type="search" id="filterInput" placeholder="Type to Search"></b-form-input>
      <b-input-group-append><b-button :disabled="!filter" @click="filter = ''">Clear</b-button></b-input-group-append>
    </b-input-group>
  </b-col>
  <b-col cols="12">
    <b-table
            ref="triggerstable"
            striped
            hover
            sort-icon-left
            responsive
            :filter="filter"
            :fields="fields"
            :items="triggers"
            >
            <template v-slot:cell(status)="row">
              <b-button v-if="row.item.status" variant="outline-info"
                        @click="switchStatus(row.item.id)" title="Status is on. Switch to off">
                <b-icon icon="toggle-on" aria-hidden="true"></b-icon>
              </b-button>
              <b-button v-else variant="outline-danger"
                        @click="switchStatus(row.item.id)" title="Status is Off. Switch to on">
                <b-icon icon="toggle-off" aria-hidden="true"></b-icon>
              </b-button>
            </template>
            <template v-slot:cell(actions)="row">
              <b-button-group>
                <b-button variant="outline-info" class="ml-2 mr-2 mb-2"
                          @click="editTrigger(row.item.id)">
                  <b-icon icon="pen" aria-hidden="true"></b-icon>
                </b-button>
                <b-button variant="outline-danger" class="ml-2 mr-2 mb-2"
                          @click="deleteTrigger(row.item.id)">
                  <b-icon icon="trash" aria-hidden="true"></b-icon>
                </b-button>
              </b-button-group>
            </template>
    </b-table>
    <!-- end of table 'Yeoboseyo' TABLE -->
  </b-col>
  </b-row>
  </b-col>
  </div>
  `})
</script>
</body>
</html>
