{% extends "base.html" %}

{% block content %}
<main role="main">

    <div class="container">
        <h4>Trigger</h4>
        <form method="POST" action='{{ url_for('homepage') }}'>
            <div class="form-group">
            {{ form }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <hr/>
      <table class="table table-striped table-hover">
          <thead>
            <tr><th scope="col">ID</th><th scope="col">Description</th><th scope="col">RSS URL</th><th scope="col">Joplin Folder</th></tr>
          </thead>
          {% if triggers_list %}
          <tbody>
            {% for trigger in triggers_list %}
            <tr><td>{{ trigger.id }}</td><td>{{ trigger.description }}</td><td>{{ trigger.rss_url }} </td><td>{{ trigger.joplin_folder }}</td></tr>
            {% endfor %}
          </tbody>
          {% endif %}
      </table>
  </div> <!-- /container -->

</main>
{% endblock %}
